.wrapper {
  max-width:850px !important;
}

hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}

/* 为分割线设置样式 */
.post-divider {
  border: none;          /* 去掉默认边框 */
  height: 1px;           /* 设置高度 */
  background-color: #ccc; /* 设置颜色 */
  margin: 0px 0px;        /* 设置上下间距 */
}


/* 横向列表容器 */
.post-list-horizontal {
  display: flex;
  flex-wrap: nowrap;
  gap: 22px; /* 每个文章间距 */
  overflow-x: auto; /* 如果内容溢出，则启用水平滚动 */
  margin-bottom: 0;
  scrollbar-width: thin;
}

.post-item {
  margin: 0 0 15px 0; /* 增加下方间距为 20px */
  padding: 15px; /* 内容的内边距 */
  border: 2px solid #ccc; /* 虚线边框 */
  border-radius: 10px; /* 圆角 */
  background-color: #f9f9f9; /* 可选：背景色 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 可选：阴影效果 */
  /* transition: transform 0.2s, box-shadow 0.2s; 鼠标悬停动画 */
}

/* .post-item:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
} */


/* 单个文章容器 */
.note-item {
  flex: 0 0 auto; /* 防止文章缩小 */
  width: 175px; /* 固定宽度 */
  text-align: left; /* 文字居中 */
}

/* 图片容器 */
.post-images {
  width: 175px; /* 固定宽度 */
  height: 175px; /* 固定高度 */
  overflow: hidden; /* 超出部分隐藏 */
  border-radius: 8px; /* 可选，添加圆角效果 */
}

/* 图片容器 */
.post-images-2 {
  flex-shrink: 0; /* 防止图片缩放 */
  height: 110px; /* 固定高度 */
  overflow: hidden; /* 超出部分隐藏 */
  border-radius: 8px; /* 可选，添加圆角效果 */
  margin-left: auto; /* 图片容器向右对齐 */
}

/* 图片样式 */
.post-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 裁剪图片以适应容器 */
}

/* 描述部分 */
.post-description {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 14px;
  color: #555;
}

/* 描述部分 */
.post-description-2 {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 17px;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 2;   /* 限制显示的行数 */
  -webkit-box-orient: vertical; /* 设置为纵向排列 */
  overflow: hidden;        /* 隐藏超出的文本 */
  text-overflow: ellipsis; /* 可选：添加省略号 */
}


.in-post-images {
  margin-bottom: 10px;
  flex-shrink: 0; /* 防止容器缩小 */
}
.in-post-image {
  height: 350px;
  object-fit: contain;
  border-radius: 8px; /* 可选，圆角效果 */
}
