---
layout: default
---
<link href="/css/override.css" rel="stylesheet" type="text/css">
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">

      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" style="color: rgb(234, 234, 234);">
        {%- assign date_format = site.minima.date_format | default: "%Y-%-m-%-d %-H:%-M" -%}
        <i class="fas fa-calendar-alt"> </i>
        {{ page.date | date: date_format }}
      </time> &nbsp;
    
      {%- if page.categories -%}
      <i class="far fa-folder-open has-text-grey"> </i>
      <span class="post-categories" style="color: rgb(234, 234, 234);">
        {% for category in page.categories %}
          <a href="{{ site.baseurl }}/posts-category.html#{{ category | slugify }}" class="post-category">{{ category }}</a>{% if forloop.last == false %}, {% endif %}
        {% endfor %}
      </span> &nbsp;
      {%- endif -%}

      {%- if page.tags -%}
      <i class="fas fa-tag"> </i>
      <span class="post-tags" style="color: rgb(234, 234, 234);">
          {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/posts-tag.html#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}
          {% endfor %}
        </span> &nbsp;
      {%- endif -%}</p>

  </header>

  <script src="/js/anchor.min.js"></script>
  <script src="/js/jquery-3.7.1.min.js"></script>
  <script>
    $(function() {
        anchors.options.visible = 'hover'; 
        anchors.add('.post-content > h1, h2, h3, h4, h5, h6');
    });
  </script>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
    {% include post-navlinks.html %}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>