---
layout: default
---
<link href="/css/override.css" rel="stylesheet" type="text/css">
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">

      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%Y-%-m-%-d %-H:%-M" -%}
        <i class="fas fa-calendar-alt"> </i>
        {{ page.date | date: date_format }}
      </time> &nbsp;
    
      {%- if page.categories -%}
      <i class="far fa-folder-open has-text-grey"> </i>
      <span class="post-categories">
        {% for category in page.categories %}
          <a href="{{ site.baseurl }}/categories/{{ category | slugify }}" class="post-category">{{ category }}</a>{% if forloop.last == false %}, {% endif %}
        {% endfor %}
      </span> &nbsp;
      {%- endif -%}

      {%- if page.tags -%}
      <i class="fas fa-tag"> </i>
      <span class="post-tags">
          {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/tags/{{ tag | slugify }}" class="post-tag">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}
          {% endfor %}
        </span> &nbsp;
      {%- endif -%}</p>

  </header>

  <script src="/js/anchor.min.js"></script>
  <script src="/js/jquery-3.7.1.min.js"></script>
  <script>
    $(function() {
        // if a p only has an img inside of it, urlify the alt text 
        // of the img and set that as the p's id so anchors can use it
        $(".post-content > p > img").each(function(idx, el) { 
            var $el = $(el);
            var idText = anchors.urlify("img-" + $el.attr("alt")); 
            $el.parent().attr("id", idText); 
        });
        
        // if a table has the "alt" property, use it to set the table's 
        // id otherwise just use the index of that table within .post-content
        $(".post-content > table").each(function(idx, el) { 
            var $el = $(el);
            var uniqueTextForTable = $el.attr("alt") ? $el.attr("alt") : idx;
            var idText = anchors.urlify("table-" + uniqueTextForTable); 
            $el.attr("id", idText); 
        });
        
        anchors.options.visible = 'always'; 
        anchors.add('.post-content > h1, h2, h3, h4, h5, h6');
        
        anchors.options.icon = '❡';
        anchors.options.placement = 'left';
        anchors.options.visible = 'hover';
        anchors.add('.post-content > p');
        anchors.add('.post-content > table');
    });
  </script>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
    {% include post-navlinks.html %}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>